.reviews {
    min-height: 535px;
    &__img {
        width: 169px;
        height: 169px;
    }
    &__wrapper {
        padding: 70px 0 71px 0;
    }
    &__review {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 62px;
        width: 650px;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__namber {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
    }
}